streamlit
pandas
openpyxl
requests
beautifulsoup4
lxml
google-generativeai
pykrx
plotly
numpy
python-dateutil
streamlit-option-menu
git+https://github.com/financedata-org/FinanceDataReader.git
